/* Page de connexion */
.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 300px;
    padding: 20px;
    border-right: 1px solid #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.column:last-child {
    border-right: none;
}

.connexion h2 {
    color: #5684C1;
    font-family: 'Bebas Neue', sans-serif;
}

.connexion hr {
        margin-bottom: 20px;
}

.connexion form {
    margin-top: 20px;
    text-align: center; 
}

.connexion label {
    color: #5684C1;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #094FAC;
    color: #F5EDED;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5684C1;
}

.connexion a {
    color: #094FAC;
    text-decoration: none;
    display: block;
    margin: 20px auto; 
    text-align: center;
}

.connexion a:hover {
    text-decoration: underline;
}

/* Media Query pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    .column {
        flex: 50%; /* Réduire la largeur des colonnes pour s'adapter à l'écran */
        max-width: 100%;
    }
}

/* Media Query pour les petits écrans */
@media screen and (max-width: 576px) {
    .column {
        flex: 100%; /* Utiliser toute la largeur disponible sur les petits écrans */
        max-width: 100%;
    }
}