/* Page de contact */
.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 300px;
    padding: 20px;
    border-right: 1px solid #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.column:last-child {
    border-right: none;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin-top: 15px;
}

.contact-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn {
    background-color: #333 !important; 
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px; 
}